h1 { 
    text-align: center;

}

div1 {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 300px;
    border: 5px solid grey; /* The inner border */
    padding: 5px;
    margin: 5px;

}

div2 {
    height: 100%; /* Fill the parent height */
    width: 100%; /* Fill the parent width */
    outline: 2px dashed black;
    padding: 0 0 20px 0; /* The outer border */
}
div3 {
    width: 100%; /* Fill the parent width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h2 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
button {
    margin-top: 2px;
    padding: 5px 10px; 
    background-color: red;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div4 {
    align-self: center;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid black;
    margin: 10px 0;
}

button:hover {
    background-color: darkred;
}